.about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contain {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}