@font-face {
    font-family: bold;
    src: url(../../assets/fonts/URWDIN-Bold.ttf);
}

.home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.contain {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px 0;
    width: 60%;
}

.title {
    font-family: bold;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: clamp(2.625rem, 1.2857rem + 3.5714vw, 4rem);
    font-weight: 900;
    margin: 20px 0;
}

.title>span {
    color: #0061C2;
    font-family: bold;
}

.description {
    width: 500px;
    display: flex;
    font-size: 1rem;
    margin-bottom: 20px;
}

.poster {
    position: relative;
    top: 0px;
    right: 0;
    min-width: 460px;
    width: 45%;
    height: 470px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
}

.poster>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.des {
    margin: 49px 0;
    width: 480px;
    text-align: center;
    font-size: 0.9rem;
}