.header {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 900;
    backdrop-filter: blur(10px);
    background-color: #ffffffbe;
    border-bottom: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.rightHeader {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.rightHeader>a>button {
    background-color: #007FFF;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    width: 90px;
    height: 35px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 20px;
    transition: all 500ms;
}

.rightHeader>a>button:hover {
    background-color: #117be6;
}

.rightHeader>input {
    background-color: #F3F6F9;
    width: 180px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    outline: none;
    padding-left: 35px;
    padding-bottom: 4px;
    font-size: 15px;
    margin-left: 20px;
}

.rightHeader>i {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 29px;
}

.leftHeader {
    justify-self: end;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav {
    height: 100%;
    display: flex;
}

.nav>ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav>ul>li {
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
}

.nav>ul>li>a {
    height: 100%;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: #000000;
    font-weight: 800;
    font-size: 0.91rem;
}

.active {
    border-bottom: 3px solid #007FFF;
}