.chats {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.chatsContain {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}