* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@font-face {
    font-family: URWDIN;
    src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.css');
}

body {
    background-color: #ffffff;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f3f3f3;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 201);
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }